
body {
  margin: 0;
  font-family: "Maitree", serif;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: white;
}


.navbar {
  background: #43a047;
  padding: 20px;
  color: white;
}


.gallery {
  display: grid;
  gap: 1rem;
  margin-top: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.grid-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.photo {
  cursor: pointer;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  text-shadow: 0px 0px 15px black;
}

.photo:hover {
  box-shadow: 0px 0px 2px 1px black;
}

.photo svg {
  align-self: flex-end;
}


.Home {
  text-align: center;
}


.photo-title {
  font-size: 18px; 
}


.home-title {
  color: #43a047; 
}

.center-title {
  text-align: center;
}
